.sms_extra-sms-section .usage-info-section {
  margin: 30px;
}
.sms_extra-sms-section .progress {
  margin-bottom: 0;
}
.sms_extras-usage {
  margin: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.sms_extras-usage dl {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.sms_extras-usage dt {
  order: 2;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
}
.sms_extras-usage dd {
  order: 1;
  color: #6c7680;
  font-size: 1.4em;
  font-weight: bold;
}
